.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.form_root {
  width: 340px;
}

.form_field {
  display: grid;
  margin-bottom: 10px;
}

.form_label {
  font-size: 1rem;
  font-weight: 500;
  line-height: 35px;
  color: black;
}

.form_message {
  font-size: .8rem;
  color: red;
  opacity: 0.8;
}

.input_wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.input {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 1rem;
  color: black;
  box-shadow: 0 0 0 1px black;
}
.input:hover, .input:focus  {
  box-shadow: 0 0 0 2px black;
}

.input {
  padding: 0 10px;
  height: 35px;
  line-height: 1;
}

.button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 16px;
  font-size: 1rem;
  line-height: 1;
  font-weight: 500;
  height: 35px;
  width: 100%;
  border: 1px solid black;
  cursor: pointer;
  background-color: black;
  color: white;
  margin-top: 10px;
}

.button:disabled {
    opacity: 0.75;
    cursor: not-allowed;
}
