.pointer {
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.list {
  list-style: none;
}

.checkbox-root {
  all: unset;
  background-color: white;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.checkbox-root:focus {
  box-shadow: 0 0 0 1px black;
}

.label {
  color: #333;
  padding-left: 15px;
  font-size: 15px;
  line-height: 1;
}

.icons_container {
  display: flex;
  gap: 10px;
}
